/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: calibri;
    background-color: white;
    min-height: 100vh;
}

/* Utility classes */
.wrapper {
    max-width: 60rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

/* Components */
.hero {
    --flow-space: 2rem;

    padding: 30vh 2rem 2rem;
    background-color: goldenrod;
    position: relative;
}

.hero::before,
.hero::after {
    content: "";
    position: absolute;
    border: 1px solid white;
}

.hero::before {
    inset: 2rem 2rem 2rem auto;
}

.hero::after {
    inset: auto 2rem 2rem 2rem;
}

@media (width < 35em) {
    .hero {
        --flow-space: 1rem;
        padding: 30vh 1rem 1rem;
    }

    .hero::before {
        inset: 1rem 1rem 1rem auto;
    }

    .hero::after {
        inset: auto 1rem 1rem 1rem;
    }
}

.hero__title,
.hero__text {
    color: white;
}

.hero__title {
    font-size: 2.5rem;
}

.hero__text {
    padding-block-end: 1rem;
    max-width: 60ch;
}
